li{
    display: inline;
}
a {
    text-decoration: none;
    font-size: larger;
}
#titulo{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    border: 3px solid white;
    padding: 5px;
    margin: 10px;
}
.texto{
    font-size: x-large;
    color: rgb(255, 255, 255);
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.784) ;
    border: 3px solid white;
    padding: 5px
}
.comentarios{
    font-size: x-large;
    color: white;
    background-color: rgba(0, 0, 0, 0.784);
}
.texto:hover{
    background-color: rgb(0, 0, 0);

}
.nav-button{
    margin: 5px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    padding: 5px;
    color: white;
    border-radius: 10px;
}
.nav-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

body{
    margin: 1%;
    padding: 0%;
    background-size: contain;
    background-position-y: 50%;
   
}   
.social{
    width: 50px;
}
.fotos{
    width: 100%;
}
.logos{
 width: 20%;
 margin-left: 40%;
}

.link{
    color:purple;
    background-color: white;
}
.back-img{
    background-color: white;
}
.contText{
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
    margin-top: 50px;
}

@media(max-width:500px){
    .contText{
      flex-direction: column;
    }
    .comentarios{
        margin-left: 15px;
    }
}
.continer{
    display: flex;
    align-items: flex-start;
}
.contVideo{
    display: flex;
    justify-content: space-evenly;
}
.caixa{
display: flex;
flex-direction: row;
margin-bottom: 50px;
}
.caixa > div {
    width: 100%;
}
@media(max-width:500px){
    .caixa{
        flex-direction: column;
    }
}
.mensagemB{
    display: flex;
    margin-bottom: 50px;
}